body {
    background-color: black;
    color: white;
    font-family: 'Merriweather', sans-serif;
}

header {
    font-family: 'Lora', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

img {
    width: 50%;
    max-width: 250px;
    height: auto;
    margin: 20px 0;
}

